<mat-card class="card mat-elevation-z12">
    <mat-card-header>
      <mat-card-title><h2><b>Help Desk</b></h2></mat-card-title>
      <mat-card-subtitle><h3><b> Teste de Desenvolvedor</b></h3></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/human.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <table>
            <div>
      <p>
       Olá! Seja bem vindo ao Sistema Help Desk <br />
       Esse é um sistema para gerenciamento de chamados  desenvolvido em Angular 12 e
       Spring Boot 2. <br />O sistema está rodando na nuvem sendo o front na <b>Vercel</b> e o back na <b>Heroku</b>.<br />
       O projeto tem como objetivo principal abordar os conceitos de aplicações <b>SPAs</b>, <b>Autenticação</b> e <b>Autorização</b><br /> com
       <b>Tokens JWT</b> entre outas skills. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
       <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
       <br /> Saulo Capistrano.
      </p>
    </div>
    </table>
    </mat-card-content>
  </mat-card>