<div class="container">
    <form class="form-input mat-elevation-z4">
        <h1>Login HelpDesk</h1>

        <img src="assets/img/human.svg">
        <mat-form-field class="full-width mat-elevation-z4" appearance="fill">
          <mat-label>e-mail</mat-label>
          <input type="text" placeholder="Ex. email@gmail.com">
        </mat-form-field>
        
        <mat-form-field class="full-width mat-elevation-z4" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" placeholder=" Ex. 123" >
          </mat-form-field>
          <button class="full-width mat-elevation-z4" mat-flat-button color="primary">Primary</button>
        
      </form>
      

</div>